services:
  campus_nightpass:
    image: tiet/campus_nightpass
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "4376:4376"
    volumes:
      - ./data:/app/data
      - ./static:/app/static
    restart: always

