django==4.2.10
gunicorn
psycopg2-binary
psycopg2
django-cors-headers
django-hijack
python-dotenv
requests
django-detect
dj-database-url
django-import-export==4.0.0
django-crontab
uuid
tablib
django-admin-rangefilter
XlsxWriter
pytz
django-sql-explorer[xls]
django-pwa
django-admin-extra-buttons
