dj-database-url==2.2.0
Django==4.2.16
django-admin-extra-buttons==1.5.8
django-admin-rangefilter==0.13.2
django-appconf==1.0.6
django-cors-headers==4.4.0
django-cryptography-django5==2.2
django-detect==1.0.20
django-hijack==3.4.5
django-import-export==4.1.1
django-six==1.0.5
django-sql-explorer==5.2
gunicorn==23.0.0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
sqlparse==0.5.1
tablib==3.5.0
typing_extensions==4.12.2
urllib3==2.2.3
uuid==1.30
XlsxWriter==3.2.0
