{% extends 'base.html' %}

{% block content %}

<div class="student-container">
    <table class="student-table">
        <thead>
            <tr>
                <th data-label="Roll Number" class="student-sno">S.No</th>
                <th data-label="Name" class="student-name">Name</th>
                <th data-label="Room Number" class="student-room">Room No</th>
                <th data-label="Mobile No" class="student-mobile">Mobile No</th>
                <th data-label="Status" class="student-status">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for pass in hostel_passes %}
            <tr>
                <td data-label="Roll Number" class="student-sno">{{ pass.user.student.registration_number }}</td>
                <td data-label="Name" class="student-name">{{ pass.user.student.name }}</td>
                <td data-label="Room Number" class="student-room">{{ pass.user.student.room_number }}</td>
                <td data-label="Mobile Number" class="student-mobile">{{ pass.user.student.contact_number }}</td>
                <td data-label="Status" class="student-status">Active</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
