    <style>

        .modal-heading {
            color: #eb2705;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

        <h1 class="modal-heading">Incident Logged</h1>
        <p>
            Dear {{ default_pass.user.student.name }},
        </p>
        <p>
            This is to inform you that an incident has been recorded for your recent actions. Please review and address this matter promptly. <b>Further incidents may lead to revocation of the NightPass facility</b>.
        </p>
        <p>
            <b>Incident Remark: {{ default_pass.defaulter_remarks}}</b>
        </p>
        <!-- <p><i>
            Date - {{ default_pass.date }}<br>
            Hostel check out - {{ default_pass.hostel_checkout_time }}<br>
            {{ default_pass.campus_resource.name }} check in - {{ default_pass.check_in_time }}<br>
            {{ default_pass.campus_resource.name }} check out - {{ default_pass.check_out_time }}<br>
            Hostel check in - {{ default_pass.hostel_checkin_time }}
        </i></p> -->
        <table>
            <tr>
                <th>Date</th>
                <td>{{ default_pass.date }}</td>
            </tr>
            <tr>
                <th>Location </th>
                <td>{{ default_pass.campus_resource.name }}</td>
            </tr>
            <tr>
                <th>Hostel Check Out</th>
                <td>{{ default_pass.hostel_checkout_time }}</td>
            </tr>
            <tr>
                <th>{{ default_pass.campus_resource.name }} Check In</th>
                <td>{{ default_pass.check_in_time }}</td>
            </tr>
            <tr>
                <th>{{ default_pass.campus_resource.name }} Check Out</th>
                <td>{{ default_pass.check_out_time }}</td>
            </tr>
            <tr>
                <th>Hostel Check In</th>
                <td>{{ default_pass.hostel_checkin_time }}</td>
            </tr>
        </table>
        <p>
            If your hostel checkin time is not available, make sure you get your pass scanned by the caretaker when you get back to your hostel.
        </p>
        <p>
            DoSA Office<br>
            TIET, Patiala
        </p>
