body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Your existing styles... */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eb1b23;
    color: #fff;
    text-align: center;
    padding: 2px; /* Reduced header padding */
}

.header-logo {
    width: 100px; /* Set the width of your college logo */
    height: auto; /* Maintain aspect ratio */
}

.logout-button {
    background-color: #fff;
    color: #eb1b23;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-right: 20px;
}

.logout-button:hover {
    background-color: #ccc;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 600px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-card .profile-card,
.main-card .pass-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    padding: 20px;
}

.profile-card img,
.pass-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-details,
.pass-details {
    text-align: left;
}

.profile-details h2,
.pass-details h2 {
    font-size: 20px;
    margin-top: 10px;
}

.profile-details p,
.pass-details p {
    font-size: 16px;
    margin: 10px 0;
}

.action-button {
    background-color: #eb1b23;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 20px auto;
}

.action-button:hover {
    background-color: #ff3336;
}

.camera-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera-card video {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    object-fit: cover;
}

.qr-result {
    margin-top: 10px;
    font-size: 16px;
}

.location-selector {
    margin-top: 10px;
}

.location-selector label {
    font-weight: bold;
}

.location-selector select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.roll-num {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}