<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="../static/info.css">
</head>
<body>
    <div class="header">
        <img class="header-logo" src="https://i.imgur.com/gnAYCgT.png" alt="College Logo">
        <h1>Thapar NightPass</h1>
        <button class="logout-button" onclick="window.location.href = '/logout';">Logout</button>
    </div>

    <div class="container">
        <div class="main-card">
            <div class="profile-card" id="profile-card">
                
                {% if data.status %}
                <script>
                    document.getElementById('profile-card').style.backgroundColor = {{ data.colour }};
                    setTimeout(function () {
                        document.getElementById('profile-card').innerHTML = `
                        <img class="tempimg"src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="Profile Picture" style="opacity: 0.4;" draggable="false" class="profile-picture">
                        `;
                        document.getElementById('profile-card').style.backgroundColor = '#f0f0f0';
                    }, 10000)
                </script>
                <img class="image" id="user_picture" src="{{ data.user.picture }}" alt="Student Picture">
                <div class="profile-details">
                <h2>{{ data.user.name }}</h2>
                <p><strong>Registration Number: {{ data.user.registration_number }}</strong> </p>
                <p><strong>Hostel: {{ data.user.hostel }}</strong></p>
                <p><strong>Hostel Check-out Time: {{ data.user.hostel_checkout_time }}</strong> </p>
                <p><strong>Access: {{ data.user_pass.campus_resource }}</strong> </p>
                <p><strong>Check-in: {{ data.user_pass.check_in }}</strong> </p>
                <p><strong>Entry Time: {{ data.user_pass.check_in_time }}</strong> </p>
                <p><strong>Check-out: {{ data.user_pass.check_out }}</strong> </p>
                <p><strong>Exit Time: {{ data.user_pass.check_out_time }}</strong> </p>
                </div>
                {% else %}
                <img class="tempimg"src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="Profile Picture" style="opacity: 0.4;" draggable="false" class="profile-picture">
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
