<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="../static/info.css">
</head>
<body>
    <div class="header">
        <img class="header-logo" src="https://i.imgur.com/gnAYCgT.png" alt="College Logo">
        <h1>Thapar NightPass</h1>
        <button class="logout-button">Logout</button>
    </div>

    <div class="container">
        <div class="main-card">
            <div class="profile-card">
                <img id="user_picture" src="" alt="Student Picture">
                <div class="profile-details">
                    <h2></h2>
                    <p><strong>Registration Number:</strong> </p>
                    <p><strong>Hostel:</strong></p>
                    <p><strong>Room Number:</strong> </p>
                    <p><strong>In Hostel:</strong> </p>
                    <p><strong>Hostel Check-in Time:</strong> </p>
                    <p><strong>Hostel Check-out Time:</strong> </p>
                    <p><strong>Last Check-out Time:</strong> </p>
                    <p><strong>Has Booked:</strong> </p>
                </div>
            </div>

            <div class="pass-card" id="pass-card">
                <div class="pass-details">
                    <h2 class="user-pass-info">User Pass Information</h2>
                    <p><strong>Pass ID:</strong> </p>
                    <p><strong>Access:</strong> </p>
                    <p><strong>Check-in:</strong> </p>
                    <p><strong>Entry Time:</strong> </p>
                    <p><strong>Check-out:</strong> </p>
                    <p><strong>Exit Time:</strong> </p>
                </div>
                <button id="action-button" style="visibility: hidden;" class="action-button"></button>

            </div>
        </div>

        <div class="camera-card">
            <h2>QR Code Scanner</h2>
            <video id="camera" autoplay></video>            
            <div class="location-selector">
                <select id="location-selector">
                    {% for resource in campus_resources %}
                    <option value="{{ resource.name }}">{{ resource.name }}</option>
                    {% endfor %}
                    {% for resource in hostels %}
                    <option value="{{ resource.name }}">{{ resource.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script>
        // JavaScript for accessing the user's camera and handling QR code scanning using Instascan
        const videoElement = document.getElementById("camera");
        const qrResultElement = document.getElementById("qr-result");

        const scanner = new Instascan.Scanner({ video: videoElement });

        scanner.addListener("scan", function (content) {
            
            fetch_data({'registration_number':content,
                        'admin_campus_resource':document.getElementById("location-selector").value})
            // Perform actions with the scanned QR code result here
        });

        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error("No cameras found.");
            }
        });
        </script>
        <script src="../static/info.js"></script>
</body>
</html>
