name: GitHub Workflow for Campus-Nightpass

on:
  push:
    branches:
      - main  # Change this to your main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/new_key_name
          echo -e "Host *\n\tIdentityFile ~/.ssh/new_key_name" > ~/.ssh/config
          chmod 600 ~/.ssh/new_key_name
          chmod 600 ~/.ssh/config

      - name: Deploy code
        run: |
          ssh ubuntu@13.233.141.245 'cd /home/ubuntu/campus-nightpass && git pull https://Arunverma94:${{ secrets.ACCESS_TOKEN }}@github.com/${{ secrets.ORG }}/${{ secrets.REPO }} main && sudo docker-compose down && sudo docker-compose up --build -d'
